<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Korah (Beta).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2C98C8C22EFE4F0800BF141B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C98C8CF2EFE4F0A00BF141B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C98C8D92EFE4F0A00BF141B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
